@import "src/Styles.module";

.wrapper {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 48px 10px;

    .searchFieldWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 5;
        position: relative;

        .searchFieldIcon {
            position: absolute;
            left: 10px;
        }

        .searchField {
            background-color: $secondary-color;
            border: none;
            border-radius: 10px;
            flex: 1;
            margin-right: 15px;
            padding: 10px 0 10px 30px;
        }
    }


    .searchButton {
        background-color: $primary-color;
        border-radius: 8px;
        color: white;
        flex-grow: 1;
        padding: 0 5px;
        border: none;
    }
}
