@import "src/Styles.module";

.wrapper {
    @include textListElementWithLink;

    .nameWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .repoIcon {
            margin-right: 8px;
        }
    }
}