$primary-color: #452cdc;
$secondary-color: #f3f3f3;

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

* {
    font-family: 'Roboto', serif;
}
